<div class="d-flex justify-content-between bg-light mb-4 border-bottom align-items-center">
  <h4><%= link_to "Restaurants", restaurants_path, class:"text-decoration-none text-secondary" %></h4>
  <h2><%= link_to "New restaurant", new_restaurant_path, class: "btn btn-inverse text-secondary" %></h2>
</div>
